* {
	box-sizing: border-box;
/*	outline: 1px solid red;*/
}

:root {
	--primary-color: #FEF122;
	--darker-primary-color: #FEB322;
	--secondary-color: #5A41A8;
	--lighter-secondary-color: #6E73C1;
	--dark-color: #0A0A0A;
	--light-color: #FFFFFF;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

html, body {
	overflow-x: hidden;
}

body {
	background-color: var(--dark-color);
	color: var(--light-color);
	font-family: sans-serif;
	margin: 0;

	display: grid;
	grid-template-columns: [margin-start] 10vw [content-start] 0 [first-column-start] 1fr [first-column-end] 0 [second-column-start] 1fr [second-column-end] 0 [content-end] 10vw [margin-end];
	
/*	tot nu toe niet nodig*/
	/*column-gap: .5em;
	row-gap: 1em;*/
}

header {
	grid-column: margin;
	background-color: var(--primary-color);
	color: var(--dark-color);
	display: grid;
	grid-template-columns: subgrid;
	align-items: center;
	z-index: 99;
}

.logo {
	grid-column: content;
	grid-row: 1;
	display: flex;
	gap: 1ch;
	align-items: center;
	padding-block: 1em;
	font-family: Roboto, sans-serif;
}

.logo img {
	height: 2rem;
}

header nav {
	display: none;
	grid-column: second-column;
	grid-row: 1;
	justify-self: end;

	& ul {
		list-style: none;
		display: flex;
		gap: 1em;
		margin: 0;
		padding: 0;
	}

	& a {
		color: var(--dark-color);
		padding: .5em;
		display: block;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:focus {
			text-decoration: underline;
		}

		&:active {
			opacity: .6;
		}
	}
}

main {
	grid-column: margin;
	display: grid;
	grid-template-columns: subgrid;
}

section.info {
	grid-column: content;
	container-type: inline-size;
}

section.sponsor-logos {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 12%;
	
	margin-block: 1em 7em;

	& img {
		&[src*="infinia"] {
			grid-column: span 3;
		}
		&[src*="cinekid"] {
			grid-row: 2/4;
			grid-column: span 2;
		}
		&[src*="commonplace"] {
			grid-column: span 3;
			grid-row: 2;
		}
		&[src*="mood"] {
			grid-row: 3;
		}
		&[src*="digital-life"] {
			grid-row: 3;
			grid-column: span 3;
		}
	}
}

img.illustration {
	clip-path: url("#shape");
	object-fit: cover;
}

div.illustration-background {
	clip-path: url("#shape2");
	background-image: radial-gradient(circle at 50% 0%, var(--primary-color), var(--darker-primary-color));
}

div.banner-background {
	background-color: #5A41A832;
	padding-block: 4em;
	position: absolute;
	height: 110%;
	z-index: -1;
	transform: skewY(-12deg);
	transform-origin: top right;
	filter: blur(2px);

	& div {
		position: static;
		background-color: #5A41A832;
		padding-block: 2em;
		height: 100%;

		& div {
			width: 100vw;
		}
	}
}

h1 {
	background-image: radial-gradient(circle at 50% 0%, var(--primary-color), var(--darker-primary-color));
	width: min-content;
	-webkit-background-clip: text;
	color: transparent;
	font-size: clamp(3rem, 7vw + 1em, 6rem);
	margin-block: 1.25em 1.25rem;
}

p {

	&.large {
		font-size: 1rem;
	}

	& a {
		color: inherit;
	}
}

img {
	max-width: 100%;
}

a.button {
	background-image: radial-gradient(circle at 50% 0%, var(--primary-color), var(--darker-primary-color));
	font-size: 1em;
	margin-block: 2em 3em;
	padding: .8em 2em;
	border-radius: 1em;
	font-weight: bold;
	text-decoration: none;
	color: var(--dark-color);
	display: inline-block;

	&:focus {

	}

	&:hover {

	}

	&:active {

	}
}

svg {
	position: fixed;
	width: 0;
	height: 0;
}

@media only screen and (width > 580px) {
	.logo {
		grid-column: first-column;
	}

	header nav {
		display: block;
	}

	section.info {
		grid-column: first-column;
	}

	section.sponsor-logos {
		min-width: 25em;
	}

	img.illustration, div.illustration-background {
		position: absolute;
		right: 0;
		align-self: center;
	}

	img.illustration {
		clip-path: url("#shape");
		width: 40vw;
		max-width: initial;
		aspect-ratio: 3/5;
	}

	div.illustration-background {
		clip-path: url("#shape2");
		width: 43vw;
		aspect-ratio: 4/7;
		margin-top: 5%;
	}

	p {

		&.large {
		font-size: 1.25rem;
		}
	}

	a.button {
		font-size: 1.25em;
	}
}

@media only screen and (width > 830px) {
	p {

		&.large {
		font-size: 1.5rem;
		}
	}

	a.button {
		font-size: 1.5em;
	}

}